.photo-grid {
    margin: 92px 48px 0 48px;
    display: grid;
    gap: 16px;

    width: calc(100% - 96px);

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

@media screen and (max-width: 1025px) {
    .photo-grid {
        grid-template-columns: repeat(3, 1fr);
        margin-left: 48px;
        margin-right: 48px;

        gap: 14px;
    }
}

@media screen and (max-width: 769px) {
    .photo-grid {
        margin: 88px 24px 0 24px;
        display: grid;
    
        width: calc(100% - 48px);
    
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }
}

@media screen and (max-width: 680px) {
    .photo-grid {
        width: calc(100% - 32px);
    }
}

@media screen and (max-width: 470px) {
    .photo-grid {
        margin: 64px 0 0 0;
        display: grid;
        gap: 12px;
    
        grid-template-columns: 1fr;
    }
}