.lead {
    margin-top: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 96px);
}

@media screen and (max-width: 1025px) {
    .lead {
        margin-top: 48px;
    }
}

@media screen and (max-width: 769px) {

    .lead {
        width: 100%;
    }
}