.place__text {
    margin: 26px 0 0 0;
    padding: 0;
    
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
}

.place__text:first-of-type {
    margin: 0;
}

@media screen and (max-width: 769px) {
    .place__text {
        font-size: 16px;
        line-height: 163%;
        margin: 25px 0 0 0;
    }
}