.footer__link {
    text-decoration: none;
    color: #FFFFFF;
    padding: 0;

    font-style: normal; /*в предыдущей попытке я зря подгружал сюда шрифт, все шрифты и альтернатива к ним подгружаются в оболочке всей страницы*/
    font-weight: 400;
    font-size: 16px;
    line-height: 112%;
}

@media screen and (max-width: 470px) {
    .footer__link {
        font-size: 24px;
        line-height: 24px;
    }
}