.footer__link-container {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 18px;
}

@media screen and (max-width: 680px) {
    .footer__link-container {
        margin: 0 0 48px;
        flex-direction: column;
        gap: 32px;
    }
}