.intro__text {
    margin: 40px 0 0 0;
    padding: 0;

    max-width: 690px;

    /*раньше здесь был ошибочный импорт шрифта (импортировались ранее)*/
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    
    align-self: flex-start;
}

@media screen and (max-width: 769px) {

    .intro__text {
        max-width: 100%;
        
    }
}