@import url('../vendor/normalize.css');
@import url('../fonts/fonts.css');

.wrapper {
    background-color: #2A2C2F;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    

    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 28px;
    width: 93%;
}

.header__logo {

}

.header__lang-link {
    color: white;
    text-decoration: none;
    font-size: 24px;
    line-height: 28px;
    font-weight: normal;
}

.header__lang-link:last-of-type {
margin-left: 18px;
}

.header__lang-link:visited {
    color: white;
}

.header__lang-link[lang="ru"]{
    text-decoration: underline;
}





.content {
    display: flex;
    flex-direction: column;
    align-items: center;

}


/*section lead*/


.lead {
    margin-top: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 984px;
}

.lead__title {
    line-height: 100px;
    font-weight: 900;
    font-size: 96px;
    max-width: 720px;
    text-align: center;

    margin: 0;
    padding: 0;
}

.lead__subtitle {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;

    margin: 64px 0 0 0;
    padding: 0;

    max-width: 640px;
}

.lead__image {
    margin-top: 64px;
    max-width: 984px;
}

.lead__caption {
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    align-self: flex-start;

    margin: 8px 0 0 0;
    padding: 0;
}



/*section intro*/




.intro {
    max-width: 984px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 92px;
}

.intro__title {
    margin: 0;
    padding: 0;

    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
}

.intro__text {
    margin: 40px 0 0 0;
    padding: 0;

    max-width: 690px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.intro__list {
    margin: 33px 0 0 0;
    padding: 0;
    list-style-type: none;

    max-width: 690px;
    width: 100%;
}

.intro__list-item {
    display: flex;
}

.intro__list-text {
    white-space: pre;
    margin: 0;
    padding: 0;

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}

.intro__list-text_weight_bold {
    font-weight: 700;   
}



/*section photo-grid*/

.photo-grid {
    margin-top: 92px;
    display: grid;

    width: 1184px;
    height: 671px;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.photo-grid__item {
    width: 284px;
    height: 213px;
}


/*section places*/

.places {
    margin-top: 92px;
    max-width: 984px;
    width:100%;

}

.places__list {
    margin: 0;
    padding: 0;
    list-style-type: none;    
}

.place {
    display: grid;
    grid-template-columns: minmax(440px, 460px) 1fr;
    grid-template-rows: repeat(2, min-content);
    column-gap: 40px;
    row-gap: 48px;
    margin-top: 80px;
}

.place:first-of-type {
    margin: 0;
}

.place__title {
    margin: 0;
    padding: 0;
    max-width: 460px;

    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
}

.place__image {
    max-height: 460px;
    max-width: 460px;
}

.place__website {
    min-width: 0;
    align-self: end;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.place__url-heading {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    color: #AAAAAA;

    margin: 0;
    padding: 0;
}

.place__link {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;
    margin-top: 12px;
}

.place__link:hover {
    opacity: 0.8;
    transition: opacity linear 0.5s;
}

.place__text-container {

}

.place__text {
    margin: 26px 0 0 0;
    padding: 0;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.place__text:first-of-type {
    margin: 0;
}


/*section cover*/

.cover {
    position: relative;
    margin-top: 92px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url('../images/cover-trains.jpg');
    min-height: 740px;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.cover__container-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
    
}

.cover__title {
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;

    

    max-width: 560px;
    margin: 0;
    padding: 0;
    z-index: 1;
}

.cover__subtitile {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    max-width: 360px;

    margin: 32px 0 0 0;
    padding: 0;
    z-index: 1;
}

.cover__overlay {
    position: absolute;
    top: 0;
    right: 0;
    background: #2A2C2F;
    opacity: 0.3;
    width: 100%;
    height: 100%;
}

.cover:hover .cover__overlay {
    opacity: 0.8;
    transition: opacity linear 0.5s;
}


/*footer*/

.footer {
    display: flex;
    flex-direction: row;
    width: 93%;
    justify-content: space-between;

    margin: 92px 0 24px 0;
}

.footer__link {
    text-decoration: none;
    color: #FFFFFF;
    margin-left: 18px;
}

.footer__link {
    text-decoration: none;
    color: #FFFFFF;
    margin-left: 18px;
}

.footer__link:first-of-type {
    margin: 0;
}

.footer__copyright {
    margin: 0;
    padding: 0;
    justify-self: end;
}