.place {
    display: grid;
    grid-template-columns: calc(100% * 0.4675) 1fr;
    grid-template-rows: repeat(2, min-content);
    column-gap: 40px;
    row-gap: 48px;
    margin-top: 80px;
    max-width: 984px;
    width: 100%;
}

.place:first-of-type {
    margin: 0;
}

@media screen and (max-width: 1025px) {

    .place {
        display: grid;
        grid-template-columns: calc(100% * 0.4741) 1fr;
        column-gap: 32px;
    }
}

@media screen and (max-width: 769px) {

    .place {
        display: grid;
        grid-template-columns: calc(100% * 0.472) 1fr;
        grid-template-rows: repeat(2, min-content);
        column-gap: 28px;
        margin-top: 73px;
        width: 100%;
    }
}

@media screen and (max-width: 470px) {

    .place {
        margin-top: 50px;
        grid-template-columns: 1fr;
        gap: 32px;

    }
}